.team{
    margin: auto;
    padding: 20px;
    max-width: 800px;
  }
  
  .team h1 {
    text-align: center;
  }
  
  .team p {
    text-align: justify;
    line-height: 1.6;
  }
  


  